


# crete a filename .env.local and paste your keys with this variable names:

# for frontend .env.local
VITE_WEB3FORMS_KEY=key
VITE_API_URL=keyOFBakcend eg http://localhost:1111/api
VITE_NODE_ENV=key/development or production
