


# crete a filename .env.local and paste your keys with this variable names:

# for frontend .env.local

VITE_WEB3FORMS_KEY=your_key

VITE_API_URL=http://localhost:8080/api

JWT_MAX_AGE=7d
VERIFICATION_TOKEN_EXPIRY=1h
REFRESH_TOKEN_EXPIRY=5hr
VITE_NODE_ENV=development


