VITE_WEB3FORMS_KEY=your_key


VITE_SUPABASE_URL_SUPABASE_URL=your_key
VITE_SUPABASE_ANON_KEY=your_key
VITE_SUPABASE_PUBLISHABLE_DEFAULT_KEY=your_key
# Connect to Supabase via connection pooling
DATABASE_URL=your_key

# Direct connection to the database. Used for migrations
DIRECT_URL=your_key


