# Backend Environment Configuration
# This never gets sent to the client

# ===== SERVER CONFIG =====
PORT=8080
NODE_ENV=production
# NOTE: In development, backend accepts any localhost port automatically
# In development, set this to your exact frontend URL
# wihtout tailing slash eg http://localhost:5173 not http://localhost:5173/
CORS_ORIGIN=http://localhost:8080,https://habeeb.qzz.io:8080,http://localhost:5173
FRONTEND_URL=http://localhost:5173
BACKEND_API_URL=http://localhost:8080/api # just for print not mater 



# ===== MONGODB =====
# MONGODB_URI=mongodb://localhost:27017/breathart
MONGODB_URI=uri
MONGODB_DB_NAME=breathart

# ===== CLOUDFLARE R2 =====
CLOUDFLARE_R2_BUCKET=videos
CLOUDFLARE_R2_ACCOUNT_ID=0803a2c88c33984b8bxxxxx
CLOUDFLARE_R2_ACCESS_KEY_ID=80ae26bf53b3af85xxxxxx
CLOUDFLARE_R2_SECRET_ACCESS_KEY=c5e4cf9bff9f92f0718xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
CLOUDFLARE_R2_PUBLIC_URL=https://pub-xxxxxxxxxxxxxxx


# ===== IMAGEKIT =====
IMAGEKIT_PUBLIC_KEY=public_xxxxxxxxxxxxxxxxxxxxxx
IMAGEKIT_PRIVATE_KEY=private_xxxxxxxxxxxxxxxxxxxxxxx
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/username/


# ===== JWT & TOKENS =====
JWT_SECRET=ZCBrKcfW0a6OQpToZ5pUXTRVHNBzKxvy+4JGFD64FGKRmqRPQBO
JWT_EXPIRE=7d
REFRESH_TOKEN_EXPIRE=7d
SESSION_SECRET=GW1HS0ReTiwJg+73wEyF3QK6N0PZyBaebOx4cv5evHwq

# ===== EMAIL (NODEMAILER) =====
# Using Gmail or other SMTP service
EMAIL_SERVICE=gmail
EMAIL_USER=your@gmail.com
EMAIL_PASSWORD=dsadasda
FROM_EMAIL="Breatart Institute <noreply@breathart.com>" # dummy name
SUPPORT_EMAIL=support@breathart.com

# ===== CLEANUP & CRON =====
ENABLE_CLEANUP_CRON=true
CLEANUP_CRON_SCHEDULE=0 2 * * *
ENABLE_ORPHAN_VIDEO_CLEANUP_CRON=true
ORPHAN_VIDEO_CLEANUP_CRON_SCHEDULE=0 */12 * * *
TEMP_RETENTION_HOURS=24
UPLOAD_RETENTION_HOURS=24

VITE_WEB3FORMS_KEY=4061c748-3472-xxxxxxxxxxxxx
VITE_API_URL=https://localhost:8080/api 
JWT_MAX_AGE=7d
VERIFICATION_TOKEN_EXPIRY=1h
REFRESH_TOKEN_EXPIRY=5hr
VITE_NODE_ENV=development